.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.navbar-btn {
    margin-left: 10px;
}

.loign-sign {
    margin-left:20px;
    height: 35px;
    width: 70px;
}

.loign-sign:hover {
    background-color: #357ab8;
    border:none;
    border-radius: 3px;
}

.greeting{
    background-color: #357ab8;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 20px;
}